@charset "UTF-8";

        body{
            font-family: Arial, Helvetica, sans-serif;
            font-size: 2em;
        }

        a {
            color: red;
            text-decoration: none;
        }

        a:visited{
            color: purple;
        }

        a:hover{
            color: black;
            text-decoration: underline;
        }

        a:active{
            color: yellow;
        }

        .especial{
            background-color: rgb(140, 255, 228);
        }
        .especial::before{
            content: "☞ ";
            text-decoration: none;
            font-weight: normal;
            color: gray;
        }
        .especial::after{
            content: " ☜";
            text-decoration: none;
            font-weight: normal;
            color: gray;
        }
