@charset "UTF-8";

        body {
            background-color: rgb(239, 239, 232);
            font-family: Arial, Helvetica, sans-serif;
            font-size: medium;
        }

        h1 {
            color: blueviolet;
            background-color: rgb(180, 153, 238);
        }

        h2 {
            color: cornflowerblue;
        }

        p {
            text-align: justify;
        }