@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #d3dc90, #9FC131);
}

main {
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(48, 58, 15, 0.557);
    width: 600px;
    padding: 10px;
    margin: auto;
    
}

h1 {
    color: #063f62;
    text-align: center;
    box-shadow: 1px 1px 2px rgba(1, 13, 20, 0.624);
    
}

h2{
    color: #005C53;
}

p{
    text-align: justify;
}