@charset "UTF-8";

body{
    background-color: #dacfed;
    font-family: Arial, Helvetica, sans-serif; 
}

h1{
    color: #6014DB;
}

#principal{
    color: white;
    text-align: center;
    background-color: #6014DB;
} 

.basico{
    color: green;
}

.intermediario{
    color: yellow;
}

.avancado{
    color: red;
}