@charset "UTF-8";

body{
    background-color: rgb(215, 238, 231);
    font-family: Arial, Helvetica, sans-serif; 
}

h1{
    color: rgb(26, 174, 125);
}

#principal{
    color: black;
    text-align: center;
    background-color: rgb(26, 174, 125)

    ;
} 
h2{
    color: rgb(81, 134, 117);
}

.basico{
    color: green;
}

.intermediario{
    color: yellow;
}

.avancado{
    color: red;
}